@using System.Security.Claims
@model OnlineSchool.Models.DBModel.User

@{
    ViewData["Title"] = "Добавление пользователя";
    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case "admin": Layout = "~/Views/Shared/Admin_Layout.cshtml"; break;

    };
}

<h1>Добавление пользователя</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="EmailUser" class="control-label"></label>
                <input asp-for="EmailUser" class="form-control" />
                <span asp-validation-for="EmailUser" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="LoginUser" class="control-label"></label>
                <input asp-for="LoginUser" class="form-control" />
                <span asp-validation-for="LoginUser" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PasswordUser" class="control-label"></label>
                <input asp-for="PasswordUser" class="form-control" />
                <span asp-validation-for="PasswordUser" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ActiveUser" /> @Html.DisplayNameFor(model => model.ActiveUser)
                </label>
            </div>
            <div class="form-group mb-3">
                <label asp-for="RoleId" class="control-label"></label>
                <select asp-for="RoleId" class ="form-control" asp-items="ViewBag.RoleId"></select>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                <a asp-action="Index" role="button" class="btn btn-secondary">Вернуться к списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
