@model OnlineSchool.Models.DBModel.Course

@{
    ViewData["Title"] = "Добавление нового курса";
}

<h1>Добавление курса</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="TitleCourse" class="control-label"></label>
                <input asp-for="TitleCourse" class="form-control" />
                <span asp-validation-for="TitleCourse" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DescriptionCourse" class="control-label"></label>
                <input asp-for="DescriptionCourse" class="form-control" />
                <span asp-validation-for="DescriptionCourse" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                <a asp-action="Index" role="button" class="btn btn-outline-secondary">Вернуться к списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
