@model OnlineSchool.Models.DBModel.Course

@{
    ViewData["Title"] = "Редактирование курса";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Редактирование курса</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="TitleCourse" class="control-label"></label>
                <input asp-for="TitleCourse" class="form-control" />
                <span asp-validation-for="TitleCourse" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DescriptionCourse" class="control-label"></label>
                <textarea asp-for="DescriptionCourse" class="form-control"></textarea>
                <span asp-validation-for="DescriptionCourse" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="file" name="ImageFileName" id="ImageFileName" onchange="priwie();" />
            </div>
            <div id="outFile" class="form-group mb-3">
                @if (Model.ImageFileName != null)
                {
                    <img class="img-thumbnail" src="@Url.Action("GetImage", "Courses", new{id= Model.Id})" />
                    <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteImage", "Courses", new {id = Model.Id})" onclick="delPriwie()">Удалить</a>
                }
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

