@using System.Security.Claims
@model OnlineSchool.Models.DBModel.Course

@{
    ViewData["Title"] = "Редактирование курса";
    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case "admin": Layout = "~/Views/Shared/Admin_Layout.cshtml"; break;

    };
}

<h1>Редактирование курса</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="TitleCourse" class="control-label"></label>
                <input asp-for="TitleCourse" class="form-control" />
                <span asp-validation-for="TitleCourse" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DescriptionCourse" class="control-label"></label>
                <textarea asp-for="DescriptionCourse" class="form-control"></textarea>
                <span asp-validation-for="DescriptionCourse" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="file" name="nameFile" id="nameFile" onchange="priwie();" />
            </div>
            <div class="form-group mb-3">
                <div id="outFile" class="row">
                    @if (Model.Image != null)
                    {
                        <img class="img-thumbnail" src="@Url.Action("GetImage", "Courses", new{id= Model.Id})" />
                        <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteImage", "Courses", new {id = Model.Id})" onclick="delPriwie()">Удалить</a>
                    }
                </div>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
                <a asp-action="Index" role="button" class="btn btn-secondary">Вернуться к списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        // переопределение валидации на стороне клиента
        $.validator.methods.range = function(value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function(value, element) {
            return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
    </script>
    }
