@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<form asp-action="TestLesson">
    <label>Урок </label>
    <select asp-items="@ViewBag.Lesson" name="idLesson"></select>
    <input type="submit" value="Получить вопросы" />
</form>