
@{
    ViewData["Title"] = "ResultTest";
    Layout = "~/Views/Shared/Client_Layout.cshtml";
}

<h1>Страница с результатами в разработке!:)</h1>

<label>@ViewBag.Progress</label>

<a asp-action="ResetProgress" role="button" class="btn btn-danger">Сбросить результаты и пройти заново</a> 

