
@{
    ViewData["Title"] = "ResultTest";
    Layout = "~/Views/Shared/Client_Layout.cshtml";
}

<h1>Страница с результатами в разработке!:)</h1>
<hr />
<label>Процент прохождения теста: @ViewBag.Progress</label>
<br />
<a asp-action="RunTest" asp-route-idLesson="@ViewBag.IdLesson" role="button" class="btn btn-danger">Пройти заново</a> 

